/*font and color*/
$font-stack: 'Source Sans Pro', 'Lucida Grande', sans-serif;
$primary-color: #64accb;
$border-color: #000000;
$font-size-base: 14px;

/*media query*/
$break-small: 768px;
$break-large: 1200px;

$container-sm: 750px;
$container-lg: 	1170px;

$border-radius: 4px;